.btn {
  background-color: #025fac;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px;
}

.badge {
  background-color: #177fd4;
  color: #fff;
  padding: 4px;
  margin-right: 3px;
  border-radius: 4px;
  font-size: 12px;
}

.cancel-btn {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.9);
  color: rgba(51, 51, 51, 0.9);
  border-radius: 6px;
  font-size: 15px;
  padding: 10px;
}

/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-section {
  flex: 1;
  margin: 18px;
}

.profile-list {
  width: 100%;
}

.profile-title {
  margin: 8px 0;
}

.list-item {
  border: 1px solid #bebfc5;
  padding: 8px;
}

/* mission */
.section {
  padding: 0 50px 50px;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
  text-align: center;
}

.width-60 {
  width: 60%;
}

.mission-table {
  width: 100%;
  border: 1px solid #dee2e6;
}

.mission-row {
  display: flex;
  margin: 18px 8px;
}

.centerAlign {
  text-align: center;
}

.description {
  padding: 20px;
  text-align: justify;
}

tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #f2f2f2;
}

.badge-join {
  background-color: #6d757d;
  color: #fff;
  padding: 5px;
  margin-right: 3px;
  border-radius: 4px;
  font-size: 12px;
}

.badge-leave {
  background-color: #18a2b8;
  color: #fff;
  padding: 5px;
  margin-right: 3px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-join {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.9);
  color: rgba(51, 51, 51, 0.9);
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

.btn-leave {
  background-color: #fff;
  border: 1px rgb(238, 5, 5) solid;
  outline: none;
  color: rgb(238, 5, 5);
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}
